@using SmartShop.Web.Models

<div class="cart box_1">
    <a href="/checkout">
        <h3>
            <div class="total">
                <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                @SessionHelper.Cart.TotalAmount (@SessionHelper.Cart.Items.Count items)
            </div>

        </h3>
    </a>
    <p><a href="/Cart/ResetCart" class="simpleCart_empty">Empty Cart</a></p>

</div>
